body {
	color:indianred;
	background-color:burlywood;
	font-size:100px;
}

.huh {
	background-color: bisque;
	text-align: var(10);
	color: tomato;
	text-shadow: 40px 40px indianred;
	font-size: 100px;
}